{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block content %}
	{# déclaration variable  #}
	{% set totalPrice = null  %}
	<h2>Mon Panier</h2>
	{% if cartController is empty %}

		<p>Votre panier est vide
		</p>

	{% else %}
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Produit</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix</th>
					<th scope="col">Total</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>

				{% for item in cartController %}
					<tr>
						<th scope="row">
							<p>{{item.products.name}}</p>
							<img style="width:2rem" src="/uploads/{{item.products.picture}}" alt="{{item.products.name}}" class="img-fluid"></th>


						<td>{{item.quantity}}</td>
						<td>{{(item.products.price / 100)|number_format(2,',', '.')}}
							€
						</td>
						<td>
							{{ (item.quantity * item.products.price / 100)|number_format(2,',', '.') }}


							€
						</td>
						<td>
							<a href="{{path('app_cart_remove_id', {'id': item.products.id})}}" class="btn btn-danger">
								<i class="fa-solid fa-trash-can fa-red"></i>
							</a>
						</td>

						{# modifier le totalPrice par rapport aux items #}
						{% set totalPrice = totalPrice + (item.quantity * item.products.price / 100) %}
					</tr>
				{% endfor %}
				<p>Nombre d'articles :
					{# Trouver le nombre d'articles différents dans le panier  #}
					{{cartController|length}}</p>
				<p>Prix Total :
					{# afficher le totalPrice #}
					{{totalPrice|number_format(2,',', '.')}}
					€

				</p>
			</tbody>
		{% endif %}
	</tbody>
</p></tbody></td></tr></tbody></tbody></table>{% endblock %}
